@media print,
(max-width: 1899px)
{
    /*-------------------
        Global styles
    -------------------*/
    :root
    {
        --sidebar_width: 380px;
    }


    .cont
    {
        padding: 0 100px;
    }


    .content_flex .content
    {
        width: calc(100% - var(--sidebar_width) - 52px);
    }



    /*---------------
        Accordion
    ---------------*/
    .accordion_item
    {
        border-radius: 25px;
    }

    .accordion_item + .accordion_item
    {
        margin-top: 20px;
    }


    .accordion_item .head
    {
        min-height: 132px;
        padding: 24px 148px 24px 44px;
    }


    .accordion_item .head .title
    {
        font-size: 28px;
    }

    .accordion_item .head .title sup
    {
        font-size: 16px;
    }


    .accordion_item .head .icon
    {
        right: 38px;

        width: 66px;
        height: 66px;
    }

    .accordion_item .head .icon .plus,
    .accordion_item .head .icon .minus
    {
        width: 23px;
    }


    .accordion_item .data
    {
        padding: 0 92px 48px;
    }



    /*----------
        Tabs
    ----------*/
    .tabs
    {
        margin-bottom: 60px;
        margin-left: -20px;
    }

    .tabs button
    {
        font-size: 24px;
        line-height: 21px;

        width: 280px;
        height: 86px;
        margin-left: 20px;

        border-radius: 15px;
    }

    .tabs button sup
    {
        font-size: 14px;

        top: -2px;
    }



    /*------------
        Header
    ------------*/
    header
    {
        padding: 20px 0;
    }


    header .logo
    {
        font-size: 16px;
    }

    header .logo > * + *
    {
        margin-left: 32px;
    }

    header .logo .sep
    {
        height: 36px;
    }

    header .logo img
    {
        height: 28px;
    }

    header .logo .desc
    {
        margin-top: 2px;
    }



    header .menu > * + *
    {
        margin-left: 36px;
    }

    header .menu .sep
    {
        height: 28px;
    }

    header .menu_item > a
    {
        font-size: 14px;
        line-height: 24px;
    }

    header .menu_item > a span:not(.arr)
    {
        padding: 0;
    }

    header .menu_item > a .arr
    {
        width: 8px;
        height: 8px;
        margin-top: -8px;
        margin-left: 12px;
    }



    /*-------------
        Sidebar
    -------------*/
    aside .links
    {
        padding: 36px 40px;

        border-radius: 25px;
    }

    aside .links > * + *
    {
        margin-top: 20px;
    }


    aside .links a
    {
        font-size: 20px;
        line-height: 28px;
    }



    /*---------------
        Page head
    ---------------*/
    .page_head
    {
        margin-bottom: 40px;
        padding-top: 52px;
    }


    .page_title
    {
        font-size: 43px;
        line-height: 55px;
    }



    /*----------------
        Typography
    ----------------*/
    .text_block
    {
        font-size: 20px;
        line-height: 28px;
    }


    .text_block sup
    {
        font-size: 12px;
        line-height: 20px;
    }


    .text_block ul li
    {
        padding-left: 20px;
    }

    .text_block ul li + li
    {
        margin-top: 12px;
    }

    .text_block ul li:before
    {
        top: 9px;

        width: 10px;
        height: 10px;
    }



    /*-------------------
        First section
    -------------------*/
    .first_section
    {
        padding-top: 118px;
    }


    .first_section .bg
    {
        top: 172px;
    }


    .first_section .data
    {
        width: 520px;
        padding-top: 10px;
    }


    .first_section .notice
    {
        font-size: 25px;

        padding: 11px 0;
    }

    .first_section .notice .name
    {
        font-size: 43px;
        line-height: 55px;

        margin-bottom: 8px;
    }


    .first_section .title
    {
        font-size: 43px;
        line-height: 55px;
    }

    .first_section .title sup
    {
        font-size: 20px;
        line-height: 40px;
    }


    .first_section .desc
    {
        font-size: 25px;

        margin-top: 48px;
    }


    .first_section .pluses
    {
        font-size: 25px;

        margin-top: 28px;
    }

    .first_section .pluses > * + *
    {
        margin-top: 28px;
    }


    .first_section .pluses .icon
    {
        width: 30px;
        height: 30px;
    }

    .first_section .pluses span
    {
        width: calc(100% - 46px);
    }


    .first_section .image
    {
        width: 630px;
    }



    /*-------------------
        First section 2
    -------------------*/
    .first_section_2
    {
        padding-top: 112px;
        padding-bottom: 90px;
    }


    .first_section_2 .bg
    {
        top: 172px;
    }


    .first_section_2 .data
    {
        width: 592px;
        margin-left: 40px;
    }


    .first_section_2 .title
    {
        font-size: 43px;
        line-height: 55px;
    }

    .first_section_2 .title sup
    {
        font-size: 20px;
        line-height: 40px;
    }


    .first_section_2 .pluses
    {
        font-size: 25px;

        margin-top: 28px;
    }

    .first_section_2 .pluses > * + *
    {
        margin-top: 28px;
    }

    .first_section_2 .pluses sup
    {
        font-size: 15px;
        line-height: 21px;
    }


    .first_section_2 .pluses .icon
    {
        width: 30px;
        height: 30px;
    }

    .first_section_2 .pluses span
    {
        width: calc(100% - 46px);
    }


    .first_section_2 .image
    {
        width: 600px;
        margin-top: 24px;
        margin-right: -32px;
    }



    /*----------------
        About info
    ----------------*/
    .about_info
    {
        padding-bottom: 64px;
    }


    .about_info .block_title
    {
        font-size: 33px;
        line-height: 42px;

        width: 960px;
        margin-bottom: 66px;
    }

    .about_info .block_title sup
    {
        font-size: 16px;
        line-height: 30px;
    }


    .about_info .item
    {
        width: calc(50% - 172px);
        padding: 38px 48px 60px 40px;
    }

    .about_info .item:before,
    .about_info .item:after
    {
        left: -28px;
    }


    .about_info .item.pink
    {
        padding: 38px 16px 60px 92px;
    }

    .about_info .item.pink:before,
    .about_info .item.pink:after
    {
        left: 28px;
    }


    .about_info .item .title
    {
        font-size: 26px;
        line-height: 35px;

        margin-bottom: 24px;
    }


    .about_info .item .items > *
    {
        font-size: 24px;
        line-height: 26px;

        padding-left: 48px;
    }

    .about_info .item .items > *:before
    {
        width: 27px;
        height: 31px;
    }

    .about_info .item .items > * + *
    {
        margin-top: 24px;
    }


    .about_info .image
    {
        width: 314px;
    }

    .about_info .image img
    {
        width: calc(100% + 66px);
        margin-right: -66px;
    }


    .about_info .profile
    {
        font-size: 33px;
        line-height: 46px;

        margin-top: 42px;
    }


    .about_info .profile .icon
    {
        width: 46px;
        height: 46px;
        margin-right: 16px;
    }

    .about_info .profile .icon img
    {
        height: 26px;
    }


    .about_info .profile span
    {
        max-width: calc(100% - 58px);
    }



    /*------------------
        About info 2
    ------------------*/
    .about_info_2
    {
        padding-bottom: 90px;
    }


    .about_info_2 .block_title
    {
        font-size: 33px;
        line-height: 42px;

        width: 960px;
        margin-bottom: 66px;
    }

    .about_info_2 .block_title sup
    {
        font-size: 16px;
        line-height: 30px;
    }


    .about_info_2 .data
    {
        padding: 0 40px;
    }


    .about_info_2 .item .title
    {
        font-size: 26px;
        line-height: 35px;

        margin-bottom: 24px;
    }


    .about_info_2 .item .icon
    {
        top: -10px;

        width: 90px;
        height: 90px;
        padding: 20px;
    }

    .about_info_2 .item ~ .item .icon
    {
        left: -108px;
    }


    .about_info_2 .item .items > *
    {
        font-size: 24px;
        line-height: 26px;

        padding-left: 48px;
    }

    .about_info_2 .item .items > *:before
    {
        width: 27px;
        height: 31px;
    }

    .about_info_2 .item .items > * + *
    {
        margin-top: 24px;
    }


    .about_info_2 .image
    {
        width: 379px;
    }



    /*-------------------
        Effectiveness
    -------------------*/
    .effectiveness
    {
        padding-top: 64px;
        padding-bottom: 82px;
    }


    .effectiveness .block_title
    {
        font-size: 36px;
        line-height: 46px;

        width: 960px;
        margin-bottom: 48px;
    }

    .effectiveness .block_title sup
    {
        font-size: 16px;
        line-height: 30px;
    }


    .effectiveness .row
    {
        margin-bottom: -28px;
        margin-left: -28px;
    }

    .effectiveness .row > *
    {
        margin-bottom: 28px;
        margin-left: 28px;
    }


    .effectiveness .item
    {
        font-size: 24px;
        line-height: 28px;
    }


    .effectiveness .item .icon
    {
        width: 76px;
        height: 76px;
        margin-right: 20px;
    }

    .effectiveness .item .icon + *
    {
        max-width: calc(100% - 96px);
    }



    /*---------------------
        Effectiveness 2
    ---------------------*/
    .effectiveness_2
    {
        padding-top: 64px;
        padding-bottom: 40px;
    }


    .effectiveness_2 .block_title
    {
        font-size: 36px;
        line-height: 46px;

        width: 100%;
        margin-bottom: 48px;
    }

    .effectiveness_2 .block_title sup
    {
        font-size: 16px;
        line-height: 30px;
    }


    .effectiveness_2 .row
    {
        margin-bottom: -28px;
        margin-left: -28px;
    }

    .effectiveness_2 .row > *
    {
        margin-bottom: 28px;
        margin-left: 28px;
    }


    .effectiveness_2 .item
    {
        font-size: 24px;
        line-height: 28px;
    }


    .effectiveness_2 .item .icon
    {
        width: 80px;
        height: 80px;
        margin-bottom: 28px;
    }


    .effectiveness_2 .item .val
    {
        font-size: 28px;
    }


    .effectiveness_2 .bottom
    {
        font-size: 16px;

        width: 968px;
        margin-top: 40px;

        border-radius: 11px;
    }

    .effectiveness_2 .bottom > div
    {
        padding: 16px 16px 16px 68px;
    }

    .effectiveness_2 .bottom .icon
    {
        left: 0;

        width: 58px;
        height: 58px;
    }

    .effectiveness_2 .bottom .name
    {
        font-size: 21px;
    }



    /*-----------------
        App. scheme
    -----------------*/
    .app_scheme
    {
        margin-bottom: 100px;
        padding-top: 82px;
    }


    .app_scheme .block_title
    {
        font-size: 36px;
        line-height: 46px;

        width: 960px;
        margin-bottom: 94px;
    }

    .app_scheme .block_title sup
    {
        font-size: 16px;
        line-height: 30px;
    }


    .app_scheme .tablet
    {
        font-size: 33px;

        width: 408px;
        height: 161px;
    }

    .app_scheme .tablet .amount
    {
        font-size: 143px;
    }

    .app_scheme .tablet .amount + *
    {
        width: calc(50% - 24px);
    }

    .app_scheme .tablet:before
    {
        border-width: 14px;
    }


    .app_scheme .desc
    {
        font-size: 24px;
        line-height: 28px;

        width: 600px;
        margin-left: 72px;
    }

    .app_scheme .desc > * + *
    {
        margin-top: 24px;
    }



    /*---------
        FAQ
    ---------*/
    .faq
    {
        margin-bottom: 70px;
    }



    /*------------------
        Add question
    ------------------*/
    .add_question.bg_white
    {
        padding: 80px 0;
    }


    .add_question .btn
    {
        font-size: 36px;
        line-height: 42px;
    }

    .add_question .btn img
    {
        height: 58px;
    }



    /*-----------
        Notes
    -----------*/
    .notes
    {
        margin-bottom: 44px;
    }


    .notes .btn
    {
        font-size: 20px;

        height: 46px;
    }


    .notes .btn img
    {
        height: 11px;
    }



    /*----------------
        About page
    ----------------*/
    .about_page .tab_content > * + *
    {
        margin-top: 52px;
    }



    /*------------------
        Instructions
    ------------------*/
    .instructions .title
    {
        font-size: 33px;
        line-height: 28px;

        margin-bottom: 52px;
    }


    .instructions .features
    {
        font-size: 20px;
        line-height: 28px;
    }

    .instructions .features > * + *
    {
        margin-top: 32px;
    }

    .instructions .features .val + .val
    {
        margin-top: 26px;
    }


    .instructions .features sup
    {
        font-size: 12px;
        line-height: 24px;
    }



    /*-------------------
        Pharm. props.
    -------------------*/
    .pharm_props .title
    {
        font-size: 33px;
        line-height: 28px;

        margin-bottom: 52px;
    }


    .pharm_props .title2
    {
        font-size: 20px;
        line-height: 28px;

        margin-bottom: 36px;
    }


    .pharm_props .item
    {
        font-size: 20px;
        line-height: 28px;
    }

    .pharm_props .item .val > * + *
    {
        margin-top: 26px;
    }



    /*--------------
        Research
    --------------*/
    .research
    {
        margin-bottom: 86px;
    }


    .research .items > * + *
    {
        margin-top: 25px;
    }


    .research .item
    {
        font-size: 28px;

        padding: 25px 31px;

        border-radius: 25px;
    }


    .research .item .icon
    {
        width: 53px;
        height: 53px;
    }


    .research .item .title
    {
        width: calc(100% - 75px);
    }


    .research .item .data
    {
        padding: 0 135px 77px 106px;
    }


    .research .item.accord .head
    {
        padding: 25px 135px 25px 31px;
    }


    .research .item.accord .plus_minus
    {
        right: 38px;

        width: 66px;
        height: 66px;
    }

    .research .item.accord .plus_minus .plus,
    .research .item.accord .plus_minus .minus
    {
        width: 23px;
    }



    /*--------------
        Why head
    --------------*/
    .why_head
    {
        padding-top: 92px;
        padding-bottom: 24px;
    }


    .why_head .row
    {
        margin-top: 172px;
        margin-bottom: -24px;
        margin-left: -24px;
        padding: 0 32px;
    }

    .why_head .row > *
    {
        width: calc(16.666% - 24px);
        margin-bottom: 24px;
        margin-left: 24px;
    }


    .why_head .item
    {
        font-size: 24px;
        line-height: 28px;
    }


    .why_head .item .icon
    {
        width: 90px;
        height: 90px;
        margin-bottom: 20px;
        padding: 20px;
    }

    .why_head .item .icon img + img
    {
        max-width: calc(100% - 40px);
        max-height: calc(100% - 40px);
    }



    /*---------------------
        Why recommended
    ---------------------*/
    .why_recommended
    {
        padding: 80px 0 85px;
    }


    .why_recommended .block_title
    {
        font-size: 33px;
        line-height: 42px;

        margin-bottom: 40px;
    }


    .why_recommended .row
    {
        margin-bottom: -44px;
        margin-left: -64px;
    }

    .why_recommended .row > *
    {
        width: calc(50% - 64px);
        margin-bottom: 44px;
        margin-left: 64px;
    }


    .why_recommended .head .icon
    {
        width: 42px;
        height: 42px;
        margin-right: 16px;
        padding: 8px;
    }


    .why_recommended .title
    {
        font-size: 24px;
        line-height: 28px;
    }


    .why_recommended .thumb
    {
        width: 230px;
        height: 100px;
    }


    .why_recommended .desc
    {
        font-size: 20px;
        line-height: 28px;

        margin-top: 24px;
    }


    .why_recommended .link
    {
        margin-top: 24px;
    }


    .why_recommended .link a
    {
        font-size: 24px;
        line-height: 28px;
    }


    .why_recommended .link .icon
    {
        width: 40px;
        height: 40px;
        margin-right: 12px;
    }

    .why_recommended .link .icon img
    {
        width: 20px;
        height: 20px;
    }



    /*-------------------------
        Why recommendations
    -------------------------*/
    .why_recommendations
    {
        padding: 76px 0;
    }


    .why_recommendations .data
    {
        width: 540px;
    }


    .why_recommendations .block_title
    {
        font-size: 33px;
        line-height: 42px;

        margin-bottom: 32px;
    }


    .why_recommendations .desc
    {
        font-size: 24px;
        line-height: 32px;
    }


    .why_recommendations .not_recommended
    {
        font-size: 20px;
        line-height: 28px;

        margin-top: 28px;
    }

    .why_recommendations .not_recommended .icon
    {
        width: 76px;
        height: 76px;
    }

    .why_recommendations .not_recommended .icon + *
    {
        width: calc(100% - 92px);
    }


    .why_recommendations .percents
    {
        width: calc(100% - 590px);
        padding: 36px 52px;

        border-width: 3px;
        border-radius: 25px;
    }


    .why_recommendations .percents .val
    {
        font-size: 40px;
        line-height: 48px;

        margin-bottom: 20px;
    }

    .why_recommendations .percents .val div
    {
        margin-top: 20px;
    }

    .why_recommendations .percents .red .val img
    {
        width: 428px;
    }

    .why_recommendations .percents .purple .val img
    {
        width: 28px;
    }


    .why_recommendations .percents .val.big
    {
        font-size: 56px;
        line-height: 65px;
    }


    .why_recommendations .percents .exp
    {
        font-size: 28px;
    }

    .why_recommendations .percents .exp small
    {
        font-size: 20px;
    }



    /*-------------------
        Reduxin block
    -------------------*/
    .reduxin_block
    {
        padding-top: 64px;
        padding-bottom: 32px;
    }


    .reduxin_block .data
    {
        width: 328px;
    }


    .reduxin_block .title
    {
        font-size: 45px;

        margin-bottom: 38px;
    }


    .reduxin_block .title sup
    {
        font-size: 20px;
        line-height: 32px;
    }


    .reduxin_block .desc
    {
        font-size: 24px;
        line-height: 32px;
    }

    .reduxin_block .desc span
    {
        font-size: 30px;
        line-height: 42px;

        height: 44px;
        margin: 8px -12px 6px;
        padding: 0 12px;

        border-radius: 10px;
    }


    .reduxin_block .image
    {
        width: calc(100% - 448px);
    }



    /*--------------------------
        Proven effectiveness
    --------------------------*/
    .proven_effectiveness
    {
        margin-bottom: 64px;
    }


    .proven_effectiveness .block_title
    {
        font-size: 33px;
        line-height: 42px;

        margin-bottom: 32px;
    }


    .proven_effectiveness .img
    {
        margin-bottom: 8px;
    }


    .proven_effectiveness .months .title
    {
        font-size: 45px;
        line-height: 42px;
    }


    .proven_effectiveness .months .desc
    {
        font-size: 24px;
        line-height: 28px;

        margin-top: 16px;
        padding-right: 96px;
    }


    .proven_effectiveness .months .items
    {
        margin-top: 24px;
    }


    .proven_effectiveness .months .items > *
    {
        font-size: 24px;
        line-height: 28px;
    }

    .proven_effectiveness .months .items > * + *
    {
        margin-top: 24px;
    }


    .proven_effectiveness .months .icon
    {
        width: 58px;
        padding: 0 6px;
    }

    .proven_effectiveness .months .icon + *
    {
        width: calc(100% - 72px);
    }


    .proven_effectiveness .directions_wrap
    {
        margin-top: 48px;
        padding: 44px;

        border-radius: 16px;
    }


    .proven_effectiveness .directions_wrap .title
    {
        font-size: 33px;
        line-height: 52px;

        width: calc(50% - 64px);
    }


    .proven_effectiveness .directions:before
    {
        bottom: 14px;

        width: 296px;
        height: 148px;
    }


    .proven_effectiveness .direction
    {
        font-size: 24px;
        line-height: 28px;

        padding: 20px 24px;

        border-radius: 10px;
    }

    .proven_effectiveness .direction + .direction
    {
        margin-top: 20px;
    }


    .proven_effectiveness .direction .icon
    {
        width: 54px;
    }

    .proven_effectiveness .direction .icon + *
    {
        width: calc(100% - 72px);
    }


    .proven_effectiveness .directions_wrap .items
    {
        margin-top: 45px;
        margin-bottom: -32px;
        margin-left: -52px;
    }


    .proven_effectiveness .directions_wrap .items > *
    {
        font-size: 24px;
        line-height: 28px;

        width: calc(50% - 52px);
        margin-bottom: 32px;
        margin-left: 52px;
    }


    .proven_effectiveness .directions_wrap .items .icon
    {
        width: 41px;
    }

    .proven_effectiveness .directions_wrap .items .icon + *
    {
        width: calc(100% - 56px);
    }



    /*-------------------
        Proven safety
    -------------------*/
    .proven_safety .block_title
    {
        font-size: 33px;
        line-height: 42px;

        margin-bottom: -20px;
    }


    .proven_safety .desc
    {
        font-size: 24px;
        line-height: 32px;

        width: calc(100% - 360px);
    }


    .proven_safety .img
    {
        width: 187px;
    }



    /*--------------
        Programs
    --------------*/
    .programs
    {
        margin-bottom: 80px;
    }


    .programs .program
    {
        padding: 54px 44px;

        border-radius: 25px;
    }


    .programs .program .logo
    {
        width: 160px;
    }



    .programs .program .data
    {
        width: calc(100% - 200px);
    }


    .programs .program .program_name
    {
        font-size: 28px;

        margin-bottom: 36px;
    }


    .programs .program .results
    {
        margin-top: 36px;
    }

    .programs .program .results .title
    {
        font-size: 24px;
        line-height: 28px;

        margin-bottom: 28px;
    }


    .programs .program .download
    {
        margin-top: 36px;
    }


    .programs .program .download a
    {
        font-size: 24px;
        line-height: 28px;

        padding: 24px 35px;

        border-width: 2px;
        border-radius: 25px;
    }


    .programs .program .download .icon
    {
        width: 41px;
        height: 53px;
    }


    .programs .program .download span
    {
        width: calc(100% - 71px);
    }



    /*--------------
        Covid_19
    --------------*/
    .covid_19
    {
        margin-bottom: 84px;
    }


    .covid_19 .text_block
    {
        width: calc(100% - 400px);
    }


    .covid_19 .image
    {
        width: 400px;
    }

    .covid_19 .image img
    {
        width: 240px;
    }


    .covid_19 .data
    {
        margin-top: 38px;
        padding: 44px 50px 50px;

        border-radius: 25px;
    }


    .covid_19 .data .block_title
    {
        font-size: 33px;
        line-height: 42px;
    }


    .covid_19 .data .block_desc
    {
        font-size: 20px;
        line-height: 28px;

        margin-top: 32px;
    }


    .covid_19 .data .items
    {
        margin-top: 48px;
    }


    .covid_19 .data .item
    {
        font-size: 20px;
        line-height: 28px;

        width: calc(50% - 24px);
    }


    .covid_19 .data .item .thumb
    {
        height: 264px;
        margin-bottom: 24px;
    }


    .covid_19 .data .item .name
    {
        font-size: 20px;
        line-height: 28px;

        padding: 5px 24px;
    }


    .covid_19 .data .item .desc
    {
        margin-top: 24px;
    }


    .covid_19 .download,
    .covid_19 .download > * + *
    {
        margin-top: 28px;
    }


    .covid_19 .download a
    {
        font-size: 24px;
        line-height: 28px;

        padding: 24px 35px;

        border-width: 2px;
        border-radius: 25px;
    }


    .covid_19 .download .icon
    {
        width: 41px;
        height: 53px;
    }


    .covid_19 .download span
    {
        width: calc(100% - 71px);
    }



    /*------------
        Footer
    ------------*/
    footer
    {
        padding-bottom: 44px;
    }


    footer .logo img
    {
        height: 64px;
    }


    footer .creator
    {
        font-size: 15px;
        line-height: 23px;

        margin-top: 19px;
    }



    footer .contacts
    {
        font-size: 15px;
        line-height: 23px;
    }

    footer .contacts > * + *
    {
        margin-top: 14px;
    }



    footer .btns
    {
        width: 218px;
    }

    footer .btns > * + *
    {
        margin-top: 10px;
    }

    footer .btns a
    {
        font-size: 15px;
        line-height: 20px;

        padding: 14px 28px;
    }



    /*-----------
        PopUp
    -----------*/
}
