@media print,
(max-width: 1023px)
{
    /*-------------------
        Global styles
    -------------------*/



    /*--------------
        Fancybox
    --------------*/
    .fancybox__slide
    {
        padding: 24px;
    }



    /*---------------
        Accordion
    ---------------*/
    .accordion_item + .accordion_item
    {
        margin-top: 16px;
    }


    .accordion_item .head
    {
        min-height: 80px;
        padding: 20px 120px 20px 28px;
    }


    .accordion_item .head .title
    {
        font-size: 20px;
        line-height: calc(100% + 6px);
    }


    .accordion_item .head .icon
    {
        right: 28px;
    }


    .accordion_item .data
    {
        padding: 0 28px 28px;
    }



    /*----------
        Tabs
    ----------*/
    .tabs button
    {
        width: 220px;
        height: 64px;
    }



    /*------------
        Header
    ------------*/
    header .menu
    {
        position: absolute;
        top: 100%;
        right: 0;

        display: block;

        width: 252px;
        padding: 24px;

        transition: .35s linear;
        transform: translateX(100%);

        opacity: 0;
        background: #fff;
        box-shadow: 0 0 19px 0 rgba(152, 64, 124, .47);
    }

    header .menu.show
    {
        transform: translateX(0%);

        opacity: 1;
    }


    header .menu > * + *
    {
        margin-top: 12px;
        margin-left: 0;
    }


    header .menu .sep
    {
        display: none;
    }


    header .menu_item > a
    {
        text-align: left;

        justify-content: flex-start;
    }


    header .mob_menu_btn
    {
        display: flex;
    }



    /*-------------
        Sidebar
    -------------*/
    aside .links
    {
        column-gap: 24px;
        column-count: 2;
    }



    /*-------------------
        First section
    -------------------*/
    .first_section
    {
        padding-top: 52px;
    }


    .first_section .bg
    {
        width: 1024px;
    }


    .first_section .data
    {
        width: 100%;
        padding-top: 0;

        order: 2;
    }


    .first_section .notice
    {
        font-size: 18px;

        padding: 9px 0;
    }

    .first_section .notice .name
    {
        font-size: 32px;
        line-height: 40px;
    }


    .first_section .title
    {
        font-size: 32px;
        line-height: 40px;
    }


    .first_section .desc
    {
        font-size: 19px;

        margin-top: 32px;
    }


    .first_section .pluses
    {
        font-size: 19px;
    }


    .first_section .image
    {
        position: relative;
        left: 40px;

        width: 70%;
        margin-right: auto;
        margin-bottom: 40px;
        margin-left: auto;
    }



    /*-------------------
        First section 2
    -------------------*/
    .first_section_2
    {
        padding-top: 60px;
        padding-bottom: 42px;
    }


    .first_section_2 .data
    {
        width: 100%;

        order: 2;
    }


    .first_section_2 .title
    {
        font-size: 32px;
        line-height: 40px;
    }


    .first_section_2 .pluses
    {
        font-size: 19px;
    }


    .first_section_2 .image
    {
        position: relative;
        left: 40px;

        width: 70%;
        margin-right: auto;
        margin-bottom: 24px;
        margin-left: auto;
    }



    /*----------------
        About info
    ----------------*/
    .about_info
    {
        padding-top: 68px;
        padding-bottom: 44px;
    }


    .about_info .block_title
    {
        font-size: 26px;
        line-height: 34px;

        margin-bottom: 40px;
    }


    .about_info .item
    {
        width: calc(50% - 12px);
        padding: 24px 28px;
    }

    .about_info .item:before,
    .about_info .item:after
    {
        border-width: 2px;
    }


    .about_info .item.pink
    {
        padding: 24px 28px;
    }

    .about_info .item.pink:before,
    .about_info .item.pink:after
    {
        border-width: 2px;
    }


    .about_info .item .title
    {
        font-size: 21px;
        line-height: 29px;
    }


    .about_info .item .items > *
    {
        font-size: 19px;
        line-height: 23px;
    }


    .about_info .profile
    {
        font-size: 26px;
        line-height: 36px;

        margin-top: 28px;
    }



    /*------------------
        About info 2
    ------------------*/
    .about_info_2 .block_title
    {
        font-size: 26px;
        line-height: 34px;

        margin-bottom: 40px;
    }


    .about_info_2 .data
    {
        padding: 0;
    }


    .about_info_2 .item .title
    {
        font-size: 20px;
        line-height: 28px;
    }


    .about_info_2 .item .icon
    {
        display: none;
    }


    .about_info_2 .item .items > *
    {
        font-size: 19px;
        line-height: 23px;
    }


    .about_info_2 .image
    {
        width: 216px;
    }



    /*-------------------
        Effectiveness
    -------------------*/
    .effectiveness
    {
        padding-top: 44px;
        padding-bottom: 52px;
    }


    .effectiveness .block_title
    {
        font-size: 28px;
        line-height: 36px;

        margin-bottom: 32px;
    }


    .effectiveness .item
    {
        font-size: 19px;
        line-height: 23px;
    }



    /*---------------------
        Effectiveness 2
    ---------------------*/
    .effectiveness_2 .block_title
    {
        font-size: 28px;
        line-height: 36px;

        margin-bottom: 32px;
    }


    .effectiveness_2 .item
    {
        font-size: 19px;
        line-height: 23px;
    }

    .effectiveness_2 .item .icon
    {
        margin-bottom: 24px;
    }

    .effectiveness_2 .item .val
    {
        font-size: 24px;
    }

    .effectiveness_2 .item br
    {
        display: none;
    }


    .effectiveness_2 .bottom
    {
        font-size: 15px;
    }

    .effectiveness_2 .bottom > div
    {
        padding: 16px 16px 16px 62px;
    }

    .effectiveness_2 .bottom .icon
    {
        left: 0;

        width: 54px;
        height: 54px;
    }

    .effectiveness_2 .bottom .name
    {
        font-size: 20px;
    }



    /*-----------------
        App. scheme
    -----------------*/
    .app_scheme
    {
        padding-top: 52px;
    }


    .app_scheme .block_title
    {
        font-size: 28px;
        line-height: 36px;

        margin-bottom: 40px;
    }


    .app_scheme .tablet
    {
        font-size: 25px;

        width: 332px;
        height: 132px;
    }

    .app_scheme .tablet .amount
    {
        font-size: 112px;
    }

    .app_scheme .tablet:before
    {
        border-width: 10px;
    }


    .app_scheme .desc
    {
        font-size: 19px;
        line-height: 23px;

        width: calc(100% - 372px);
        margin-left: 40px;
    }



    /*------------------
        Add question
    ------------------*/
    .add_question.bg_white
    {
        padding: 52px 0;
    }


    .add_question .btn
    {
        font-size: 27px;
        line-height: 33px;
    }


    .add_question .btn img
    {
        height: 47px;
    }



    /*------------------
        Instructions
    ------------------*/
    .instructions .title
    {
        font-size: 26px;

        margin-bottom: 28px;
    }


    .instructions .features
    {
        font-size: 17px;
        line-height: 24px;
    }

    .instructions .features .val + .val
    {
        margin-top: 20px;
    }



    /*-------------------
        Pharm. props.
    -------------------*/
    .pharm_props .title
    {
        font-size: 26px;

        margin-bottom: 28px;
    }


    .instructions .item
    {
        font-size: 17px;
        line-height: 24px;
    }

    .pharm_props .item + .item
    {
        margin-top: 32px;
    }



    /*--------------
        Research
    --------------*/
    .research .item
    {
        font-size: 22px;
    }


    .research .item .icon
    {
        width: 40px;
        height: 40px;
    }


    .research .item .title
    {
        width: calc(100% - 56px);
    }


    .research .item .data
    {
        padding: 12px 24px 48px 80px;
    }


    .research .item.accord .head
    {
        padding: 20px 92px 20px 24px;
    }


    .research .item.accord .plus_minus
    {
        right: 24px;
    }



    /*--------------
        Why head
    --------------*/
    .why_head
    {
        padding-top: 56px;
    }

    .why_head:after
    {
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        content: '';

        opacity: .1;
        background: #000;
    }


    .why_head .row
    {
        margin-top: 120px;
    }

    .why_head .row > *
    {
        width: calc(33.333% - 20px);
    }



    /*---------------------
        Why recommended
    ---------------------*/
    .why_recommended .row
    {
        margin-left: 0;
    }

    .why_recommended .row > *
    {
        width: 100%;
        margin-left: 0;
    }



    /*-------------------------
        Why recommendations
    -------------------------*/
    .why_recommendations .data
    {
        width: 100%;
    }


    .why_recommendations .percents
    {
        width: 100%;
        margin-top: 32px;

        justify-content: center;
    }

    .why_recommendations .percents .item + .item
    {
        margin-left: 56px;
    }



    /*-------------------
        Reduxin block
    -------------------*/
    .reduxin_block
    {
        padding-bottom: 40px;
    }

    .reduxin_block .image
    {
        width: calc(100% - 300px);
    }



    /*--------------------------
        Proven effectiveness
    --------------------------*/
    .proven_effectiveness .months .desc
    {
        font-size: 20px;
        line-height: 24px;
    }


    .proven_effectiveness .months .items > *
    {
        font-size: 20px;
        line-height: 24px;
    }


    .proven_effectiveness .directions_wrap .title
    {
        font-size: 27px;
        line-height: 33px;

        width: 100%;
    }

    .proven_effectiveness .directions_wrap .title br
    {
        display: none;
    }


    .proven_effectiveness .directions
    {
        width: 100%;
        margin-top: 28px;
    }

    .proven_effectiveness .directions:before
    {
        display: none;
    }


    .proven_effectiveness .directions_wrap .items
    {
        margin-left: -32px;
    }

    .proven_effectiveness .directions_wrap .items > *
    {
        font-size: 20px;
        line-height: 24px;

        width: calc(50% - 32px);
        margin-left: 32px;
    }



    /*-------------------
        Proven safety
    -------------------*/
    .proven_safety .block_title
    {
        margin-bottom: -16px;
    }


    .proven_safety .desc
    {
        font-size: 20px;
        line-height: 24px;

        width: calc(100% - 280px);
    }



    /*--------------
        Programs
    --------------*/
    .programs
    {
        margin-bottom: 60px;
    }


    .programs .program
    {
        padding: 40px 28px;

        border-radius: 20px;
    }


    .programs .program .logo
    {
        width: 124px;
    }



    .programs .program .data
    {
        width: calc(100% - 156px);
    }


    .programs .program .program_name
    {
        font-size: 24px;

        margin-bottom: 28px;
    }


    .programs .program .results
    {
        margin-top: 28px;
    }

    .programs .program .results .title
    {
        font-size: 20px;
        line-height: 24px;

        margin-bottom: 24px;
    }


    .programs .program .download
    {
        margin-top: 28px;
    }


    .programs .program .download a
    {
        font-size: 20px;
        line-height: 24px;

        padding: 20px 28px;

        border-radius: 20px;
    }


    .programs .program .download span
    {
        width: calc(100% - 55px);
    }



    /*------------
        Footer
    ------------*/
    footer
    {
        padding-bottom: 68px;
    }


    footer .logo img
    {
        height: 48px;
    }


    footer .creator
    {
        position: absolute;
        bottom: 28px;

        margin: 0;
    }


    footer .contacts
    {
        width: 100%;
        margin-top: 24px;

        order: 3;
    }


    footer .btns
    {
        display: flex;

        width: 400px;

        justify-content: space-between;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;
    }

    footer .btns > *
    {
        width: calc(50% - 8px);
    }

    footer .btns > * + *
    {
        margin-top: 0;
    }



    /*-----------
        PopUp
    -----------*/
}
