@media (max-width: 479px)
{
    /*-------------------
        Global styles
    -------------------*/
    .cont
    {
        padding: 0 20px;
    }



    /*--------------
        Fancybox
    --------------*/
    .fancybox__slide
    {
        padding: 16px;
    }



    /*---------------
        Accordion
    ---------------*/
    .accordion_item
    {
        width: calc(100% + 40px);
        margin-right: -20px;
        margin-left: -20px;

        border-radius: 0;
    }


    .accordion_item .head
    {
        padding: 16px 84px 16px 20px;
    }


    .accordion_item .head .title
    {
        font-size: 18px;
    }


    .accordion_item .head .icon
    {
        right: 20px;

        width: 40px;
        height: 40px;
    }


    .accordion_item .data
    {
        padding: 0 20px 24px;
    }



    /*----------
        Tabs
    ----------*/
    .tabs
    {
        margin-bottom: 32px;
        margin-left: -12px;
    }


    .tabs button
    {
        font-size: 17px;

        width: calc(50% - 12px);
        height: 52px;
        margin-left: 12px;
    }

    .tabs button sup
    {
        font-size: 10px;

        top: -3px;
    }



    /*------------
        Header
    ------------*/
    header
    {
        padding: 12px 0;
    }


    header .logo
    {
        font-size: 13px;
    }

    header .logo > * + *
    {
        margin-left: 16px;
    }

    header .logo .sep
    {
        height: 28px;
    }

    header .logo img
    {
        height: 20px;
    }



    /*-------------
        Sidebar
    -------------*/
    aside .links
    {
        padding: 24px;
    }

    aside .links > * + *
    {
        margin-top: 12px;
    }



    /*---------------
        Page head
    ---------------*/
    .page_title
    {
        font-size: 28px;
        line-height: 36px;
    }



    /*-------------------
        First section
    -------------------*/
    .first_section
    {
        padding-top: 40px;
    }


    .first_section .bg
    {
        width: 480px;
    }


    .first_section .notice
    {
        font-size: 16px;

        padding: 0;

        white-space: normal;
    }

    .first_section .notice .name
    {
        font-size: 28px;
        line-height: 36px;

        margin-bottom: 4px;
    }


    .first_section .title
    {
        font-size: 28px;
        line-height: 36px;
    }


    .first_section .desc
    {
        margin-top: 24px;
    }


    .first_section .image
    {
        left: 32px;

        width: 100%;
        margin-bottom: 32px;
    }



    /*-------------------
        First section 2
    -------------------*/
    .first_section_2
    {
        padding-top: 40px;
    }


    .first_section_2 .bg
    {
        width: 480px;
    }


    .first_section_2 .title
    {
        font-size: 28px;
        line-height: 36px;
    }

    .first_section_2 .title br ~ br
    {
        display: none;
    }


    .first_section_2 .image
    {
        left: 32px;

        width: 100%;
        margin-bottom: 32px;
    }



    /*----------------
        About info
    ----------------*/
    .about_info .block_title
    {
        font-size: 24px;
        line-height: 32px;

        margin-bottom: 32px;
    }


    .about_info .item .title
    {
        font-size: 20px;
        line-height: 26px;
    }


    .about_info .profile
    {
        font-size: 20px;
        line-height: 26px;
    }

    .about_info .profile span
    {
        width: 220px;
    }



    /*------------------
        About info 2
    ------------------*/
    .about_info_2 .block_title
    {
        font-size: 24px;
        line-height: 32px;

        margin-bottom: 32px;
    }


    .about_info_2 .item .title
    {
        font-size: 20px;
        line-height: 26px;
    }



    /*-------------------
        Effectiveness
    -------------------*/
    .effectiveness .block_title
    {
        font-size: 24px;
        line-height: 32px;
    }


    .effectiveness .item .icon
    {
        width: 64px;
        height: 64px;
        margin-right: 16px;
        padding: 12px;
    }

    .effectiveness .item .icon + *
    {
        max-width: calc(100% - 80px);
    }



    /*---------------------
        Effectiveness 2
    ---------------------*/
    .effectiveness_2 .block_title
    {
        font-size: 24px;
        line-height: 32px;
    }


    .effectiveness_2 .bottom
    {
        font-size: 14px;

        margin-top: 36px;

        border-radius: 8px;
    }

    .effectiveness_2 .bottom > div
    {
        padding: 16px 16px 16px 54px;
    }

    .effectiveness_2 .bottom .name
    {
        font-size: 17px;
    }

    .effectiveness_2 .bottom .icon
    {
        width: 44px;
        height: 44px;
    }



    /*-----------------
        App. scheme
    -----------------*/
    .app_scheme .block_title
    {
        font-size: 24px;
        line-height: 32px;

        margin-bottom: 32px;
    }



    /*------------------
        Add question
    ------------------*/
    .add_question .btn
    {
        font-size: 23px;
        line-height: 29px;
    }


    .add_question .btn img
    {
        height: 43px;
    }



    /*-----------
        Notes
    -----------*/
    .notes .btn
    {
        font-size: 17px;
    }



    /*------------------
        Instructions
    ------------------*/
    .instructions .title
    {
        font-size: 22px;
    }



    /*-------------------
        Pharm. props.
    -------------------*/
    .pharm_props .title
    {
        font-size: 22px;
    }


    .pharm_props .item + .item
    {
        margin-top: 24px;
    }



    /*--------------
        Research
    --------------*/
    .research .item
    {
        font-size: 18px;

        padding-left: 16px;
    }


    .research .item.accord .head
    {
        padding-left: 16px;
    }


    .research .item .title
    {
        width: calc(100% - 52px);
    }


    .research .item.accord .plus_minus
    {
        right: 20px;

        width: 40px;
        height: 40px;
    }



    /*---------------------
        Why recommended
    ---------------------*/
    .why_recommended .block_title
    {
        margin-bottom: 32px;
    }


    .why_recommended .head > *
    {
        order: 2;
    }


    .why_recommended .head .icon
    {
        width: 40px;
        height: 40px;
        padding: 8px;
    }


    .why_recommended .title
    {
        width: calc(100% - 56px);
    }


    .why_recommended .thumb
    {
        width: 100%;
        height: 131px;
        margin-bottom: 20px;

        justify-content: center;
        order: 1;
    }



    /*-------------------------
        Why recommendations
    -------------------------*/
    .why_recommendations .percents
    {
        padding: 22px;
    }


    .why_recommendations .percents .val.big
    {
        font-size: 40px;
        line-height: 100%;
    }


    .why_recommendations .percents .exp
    {
        font-size: 22px;
    }

    .why_recommendations .percents .exp small
    {
        margin-top: 8px;
    }



    /*--------------------------
        Proven effectiveness
    --------------------------*/
    .proven_effectiveness .directions_wrap
    {
        padding: 24px;
    }


    .proven_effectiveness .directions_wrap .title
    {
        font-size: 24px;
        line-height: 30px;
    }


    .proven_effectiveness .direction
    {
        font-size: 19px;
        line-height: 23px;
    }



    /*--------------
        Programs
    --------------*/
    .programs .program
    {
        padding: 32px 20px;
    }


    .programs .program .logo img
    {
        max-width: 60%;
    }


    .programs .program .program_name
    {
        font-size: 22px;
        line-height: 26px;
    }


    .programs .program .download a
    {
        font-size: 18px;
        line-height: 22px;
    }

    .programs .program .download span
    {
        width: calc(100% - 52px);
    }



    /*------------
        Footer
    ------------*/
    footer .btns > *
    {
        width: 100%;
    }

    footer .btns > * + *
    {
        margin-top: 10px;
    }



    /*-----------
        PopUp
    -----------*/
}
