@media print,
(max-width: 767px)
{
    /*-------------------
        Global styles
    -------------------*/



    /*--------------
        Fancybox
    --------------*/
    .fancybox__slide
    {
        padding: 20px;
    }



    /*---------------
        Accordion
    ---------------*/
    .accordion_item .head
    {
        min-height: 72px;
        padding: 16px 92px 16px 22px;
    }


    .accordion_item .head .title
    {
        font-size: 19px;
        line-height: calc(100% + 5px);
    }


    .accordion_item .head .icon
    {
        right: 22px;

        width: 44px;
        height: 44px;
    }

    .accordion_item .head .icon .plus,
    .accordion_item .head .icon .minus
    {
        width: 18px;
    }


    .accordion_item .data
    {
        padding: 0 22px 22px;
    }



    /*----------
        Tabs
    ----------*/
    .tabs button
    {
        font-size: 18px;

        width: calc(50% - 20px);
        height: 56px;
    }



    /*------------
        Header
    ------------*/
    header .logo img
    {
        height: 22px;
    }



    /*-------------
        Sidebar
    -------------*/
    aside .links
    {
        column-gap: 0;
        column-count: 1;
    }



    aside .articles .title
    {
        font-size: 24px;
    }


    aside .articles .items
    {
        font-size: 19px;
        line-height: 25px;
    }

    aside .articles .items > * + *
    {
        margin-top: 16px;
    }



    /*---------------
        Page head
    ---------------*/
    .page_head
    {
        margin-bottom: 24px;
        padding-top: 32px;
    }


    .page_title
    {
        font-size: 30px;
        line-height: 38px;
    }

    .page_title br
    {
        display: none;
    }



    /*-------------------
        First section
    -------------------*/
    .first_section
    {
        padding-top: 44px;
    }


    .first_section .bg
    {
        width: 768px;
    }


    .first_section .notice
    {
        font-size: 17px;
    }

    .first_section .notice .name
    {
        font-size: 30px;
        line-height: 38px;

        margin-bottom: 3px;
    }


    .first_section .title
    {
        font-size: 30px;
        line-height: 38px;
    }


    .first_section .desc
    {
        font-size: 18px;

        margin-top: 28px;
    }


    .first_section .pluses
    {
        font-size: 18px;
    }

    .first_section .pluses > * + *
    {
        margin-top: 16px;
    }

    .first_section .pluses .icon
    {
        width: 22px;
        height: 22px;
    }

    .first_section .pluses span
    {
        width: calc(100% - 32px);
    }


    .first_section .image
    {
        left: 40px;

        width: 90%;
    }



    /*-------------------
        First section 2
    -------------------*/
    .first_section_2
    {
        padding-top: 44px;
    }


    .first_section_2 .bg
    {
        width: 768px;
    }


    .first_section_2 .data
    {
        width: 100%;

        order: 2;
    }


    .first_section_2 .title
    {
        font-size: 30px;
        line-height: 38px;
    }


    .first_section_2 .pluses
    {
        font-size: 18px;
    }

    .first_section_2 .pluses > * + *
    {
        margin-top: 16px;
    }

    .first_section_2 .pluses .icon
    {
        width: 22px;
        height: 22px;
    }

    .first_section_2 .pluses span
    {
        width: calc(100% - 32px);
    }


    .first_section_2 .image
    {
        left: 40px;

        width: 90%;
    }



    /*----------------
        About info
    ----------------*/
    .about_info
    {
        padding-bottom: 40px;
    }


    .about_info .block_title
    {
        font-size: 25px;
        line-height: 33px;

        margin-bottom: 36px;
    }


    .about_info .item
    {
        width: 100%;
    }

    .about_info .item ~ .item
    {
        margin-top: 20px;
    }

    .about_info .item .items > *
    {
        font-size: 18px;
        line-height: 22px;
    }


    .about_info .profile
    {
        font-size: 22px;
        line-height: 28px;

        justify-content: center;
    }

    .about_info .profile span
    {
        width: 240px;
    }



    /*------------------
        About info 2
    ------------------*/
    .about_info_2 .block_title
    {
        font-size: 25px;
        line-height: 33px;

        margin-bottom: 36px;
    }


    .about_info_2 .item
    {
        width: 100%;
    }


    .about_info_2 .item .title
    {
        margin-bottom: 20px;
    }

    .about_info_2 .item .title br
    {
        display: none;
    }


    .about_info_2 .item .items > *
    {
        font-size: 18px;
        line-height: 22px;
    }

    .about_info_2 .item .items > * + *
    {
        margin-top: 16px;
    }

    .about_info_2 .item .items br
    {
        display: none;
    }


    .about_info_2 .image
    {
        width: 75%;
        margin: 40px auto;
    }



    /*-------------------
        Effectiveness
    -------------------*/
    .effectiveness
    {
        padding-top: 40px;
        padding-bottom: 40px;
    }


    .effectiveness .block_title
    {
        font-size: 25px;
        line-height: 33px;
    }


    .effectiveness .item
    {
        font-size: 18px;
        line-height: 22px;
    }



    /*---------------------
        Effectiveness 2
    ---------------------*/
    .effectiveness_2 .block_title
    {
        font-size: 25px;
        line-height: 33px;
    }


    .effectiveness_2 .row > *
    {
        width: calc(50% - 24px);
    }


    .effectiveness_2 .item
    {
        font-size: 18px;
        line-height: 22px;
    }



    /*-----------------
        App. scheme
    -----------------*/
    .app_scheme
    {
        padding-top: 40px;
    }


    .app_scheme .block_title
    {
        font-size: 25px;
        line-height: 33px;

        margin-bottom: 36px;
    }


    .app_scheme .tablet
    {
        margin-right: auto;
        margin-left: auto;
    }


    .app_scheme .desc
    {
        font-size: 18px;
        line-height: 22px;

        width: 100%;
        margin-top: 28px;
        margin-left: 0;

        text-align: center;
    }



    /*------------------
        Add question
    ------------------*/
    .add_question.bg_white
    {
        padding: 44px 0;
    }


    .add_question .btn
    {
        font-size: 25px;
        line-height: 31px;
    }


    .add_question .btn img
    {
        height: 45px;
    }



    /*------------------
        Instructions
    ------------------*/
    .instructions .title
    {
        font-size: 25px;
    }


    .instructions .features
    {
        font-size: 16px;
        line-height: 22px;
    }



    /*-------------------
        Pharm. props.
    -------------------*/
    .pharm_props .title
    {
        font-size: 25px;
    }


    .instructions .item
    {
        font-size: 16px;
        line-height: 22px;
    }

    .pharm_props .item + .item
    {
        margin-top: 28px;
    }



    /*--------------
        Research
    --------------*/
    .research .item
    {
        font-size: 19px;

        padding-left: 20px;
    }


    .research .item.accord .head
    {
        padding-right: 88px;
        padding-left: 20px;
    }


    .research .item .title
    {
        line-height: 120%;

        width: calc(100% - 56px);
    }


    .research .item .data
    {
        padding-top: 0;
        padding-bottom: 24px;
        padding-left: 24px;
    }


    .research .item.accord .plus_minus
    {
        right: 22px;

        width: 44px;
        height: 44px;
    }

    .research .item.accord .plus_minus .plus,
    .research .item.accord .plus_minus .minus
    {
        width: 18px;
    }



    /*--------------
        Why head
    --------------*/
    .why_head .row
    {
        margin-top: 80px;
    }

    .why_head .row > *
    {
        width: calc(50% - 20px);
    }


    .why_head .item
    {
        font-size: 19px;
        line-height: 23px;
    }


    .why_head .item:nth-child(1) .tooltip,
    .why_head .item:nth-child(2) .tooltip
    {
        top: calc(100% + 20px);
        bottom: auto;
    }

    .why_head .item:nth-child(1) .tooltip:before,
    .why_head .item:nth-child(2) .tooltip:before
    {
        top: -7px;
        bottom: auto;
    }

    .why_head .item:nth-child(1) .tooltip:after,
    .why_head .item:nth-child(2) .tooltip:after
    {
        top: 0;
        bottom: auto;

        border-radius: 20px 20px 0 0;
    }



    /*---------------------
        Why recommended
    ---------------------*/
    .why_recommended .block_title
    {
        font-size: 26px;
        line-height: 32px;

        margin-bottom: 28px;
    }


    .why_recommended .thumb
    {
        width: 168px;
        height: 72px;
    }


    .why_recommended .desc
    {
        font-size: 16px;
        line-height: 24px;

        margin-top: 12px;
    }



    /*-------------------------
        Why recommendations
    -------------------------*/
    .why_recommendations .block_title
    {
        font-size: 26px;
        line-height: 32px;
    }


    .why_recommendations .not_recommended
    {
        font-size: 16px;
        line-height: 22px;
    }


    .why_recommendations .percents .item
    {
        width: 100%;
    }

    .why_recommendations .percents .item + .item
    {
        margin-top: 32px;
        margin-left: 0;
    }

    .why_recommendations .percents .item + .item .val
    {
        margin-bottom: 0;
    }



    /*-------------------
        Reduxin block
    -------------------*/
    .reduxin_block .data
    {
        width: 100%;
    }


    .reduxin_block .desc
    {
        font-size: 20px;
        line-height: 26px;
    }

    .reduxin_block .desc span
    {
        display: block;
    }

    .reduxin_block .desc br
    {
        display: none;
    }


    .reduxin_block .image
    {
        width: 100%;
        margin-top: 40px;
    }



    /*--------------------------
        Proven effectiveness
    --------------------------*/
    .proven_effectiveness .months
    {
        width: 100%;
    }

    .proven_effectiveness .months + .months
    {
        margin-top: 32px;
    }


    .proven_effectiveness .months .title
    {
        font-size: 32px;
    }


    .proven_effectiveness .months .desc
    {
        font-size: 19px;
        line-height: 23px;
    }


    .proven_effectiveness .months .items > *
    {
        font-size: 19px;
        line-height: 23px;
    }


    .proven_effectiveness .directions_wrap
    {
        padding: 28px;
    }


    .proven_effectiveness .directions_wrap .title
    {
        font-size: 26px;
        line-height: 32px;
    }


    .proven_effectiveness .direction
    {
        font-size: 20px;
        line-height: 24px;
    }

    .proven_effectiveness .direction .icon
    {
        width: 44px;
    }


    .proven_effectiveness .directions_wrap .items
    {
        margin-bottom: -20px;
        margin-left: 0;
    }

    .proven_effectiveness .directions_wrap .items > *
    {
        font-size: 19px;
        line-height: 23px;

        width: 100%;
        margin-bottom: 20px;
        margin-left: 0;
    }


    .proven_effectiveness .directions_wrap .items .icon
    {
        width: 36px;
    }



    /*-------------------
        Proven safety
    -------------------*/
    .proven_safety .block_title
    {
        margin-bottom: 20px;
    }


    .proven_safety .desc
    {
        font-size: 19px;
        line-height: 23px;

        width: 100%;
    }


    .proven_safety .img
    {
        margin-top: 32px;
        margin-bottom: 40px;
    }



    /*--------------
        Programs
    --------------*/
    .programs .program
    {
        padding: 36px 24px;
    }


    .programs .program .logo
    {
        width: 100%;
        margin: 0 auto 24px;
    }



    .programs .program .data
    {
        width: 100%;
    }


    .programs .program .program_name
    {
        font-size: 22px;

        margin-bottom: 24px;
    }


    .programs .program .results .title
    {
        font-size: 19px;
        line-height: 23px;

        margin-bottom: 20px;
    }


    .programs .program .download a
    {
        font-size: 19px;
        line-height: 23px;

        padding: 16px 20px;
    }


    .programs .program .download span
    {
        width: calc(100% - 55px);
    }



    /*--------------
        Covid_19
    --------------*/
    .covid_19
    {
        margin-bottom: 60px;
    }


    .covid_19 .text_block
    {
        width: 100%;

        order: 2;
    }


    .covid_19 .image
    {
        width: 100%;
        margin-bottom: 24px;
    }


    .covid_19 .data
    {
        padding: 24px;
    }


    .covid_19 .data .block_title
    {
        font-size: 24px;
        line-height: 30px;
    }

    .covid_19 .data .block_title br
    {
        display: none;
    }


    .covid_19 .data .block_desc
    {
        font-size: 16px;
        line-height: 22px;

        margin-top: 20px;
    }


    .covid_19 .data .item
    {
        font-size: 16px;
        line-height: 22px;

        width: 100%;
    }

    .covid_19 .data .item + .item
    {
        margin-top: 40px;
    }


    .covid_19 .data .item .thumb
    {
        height: 172px;
    }


    .covid_19 .data .item .name
    {
        font-size: 16px;
        line-height: 22px;
    }



    .covid_19 .download a
    {
        font-size: 17px;
        line-height: 23px;

        padding: 16px 20px;
    }


    .covid_19 .download span
    {
        width: calc(100% - 55px);
    }



    /*---------------
        Where buy
    ---------------*/
    .where_buy .row
    {
        margin-bottom: -16px;
        margin-left: -16px;
    }

    .where_buy .row > *
    {
        width: calc(50% - 16px);
        margin-bottom: 16px;
        margin-left: 16px;
    }


    .where_buy .item
    {
        height: 132px;
        padding: 16px;
    }



    /*--------------
        Articles
    --------------*/
    .articles
    {
        padding: 32px 0 60px;
    }


    .articles .row
    {
        margin-left: 0;
    }

    .articles .row > *
    {
        width: 100%;
        margin-left: 0;
    }



    /*------------------
        Article info
    ------------------*/
    .article_info
    {
        padding: 32px 0 60px;
    }


    .article_info .articles_link
    {
        margin-top: 28px;
    }


    .article_info .articles_link a
    {
        font-size: 19px;
        line-height: 23px;
    }


    .article_info aside > * + *
    {
        margin-top: 24px;
    }



    /*------------
        Footer
    ------------*/
    footer .col_left
    {
        width: 100%;
    }


    footer .btns
    {
        width: 100%;
        margin-top: 24px;
    }



    /*-----------
        PopUp
    -----------*/
}
