@media print,
(max-width: 1279px)
{
    /*-------------------
        Global styles
    -------------------*/
    html.custom_scroll ::-webkit-scrollbar
    {
        width: 5px;
        height: 5px;
    }


    .cont
    {
        padding: 0 24px;
    }



    /*--------------
        Fancybox
    --------------*/
    .fancybox__slide
    {
        padding: 32px;
    }



    /*---------------
        Accordion
    ---------------*/
    .accordion_item .head
    {
        min-height: 100px;
        padding: 20px 120px 20px 30px;
    }


    .accordion_item .head .title
    {
        font-size: 22px;
        line-height: calc(100% + 4px);
    }

    .accordion_item .head .title sup
    {
        font-size: 12px;
    }


    .accordion_item .head .icon
    {
        right: 30px;

        width: 52px;
        height: 52px;
    }


    .accordion_item .data
    {
        padding: 0 40px 28px;
    }



    /*------------
        Header
    ------------*/
    header
    {
        padding: 16px 0;
    }


    header .logo > * + *
    {
        margin-left: 20px;
    }

    header .logo .sep
    {
        width: 1px;
    }


    header .menu .sep
    {
        width: 1px;
        height: 20px;
    }

    header .menu > * + *
    {
        margin-left: 16px;
    }



    /*-------------
        Sidebar
    -------------*/



    /*---------------
        Page head
    ---------------*/
    .page_head
    {
        margin-bottom: 32px;
        padding-top: 40px;
    }


    .page_title
    {
        font-size: 34px;
        line-height: 44px;
    }



    /*----------------
        Block head
    ----------------*/



    /*------------------
        Form elements
    ------------------*/



    /*----------------
        Typography
    ----------------*/
    .text_block
    {
        font-size: 17px;
        line-height: 23px;
    }



    /*-------------------
        First section
    -------------------*/
    .first_section
    {
        padding-top: 80px;
    }


    .first_section .bg
    {
        width: 1280px;
        height: auto;
    }


    .first_section .data
    {
        width: 432px;
        padding-top: 12px;
    }


    .first_section .notice .icon
    {
        width: 44px;
        height: auto;
    }


    .first_section .title
    {
        font-size: 34px;
        line-height: 44px;
    }

    .first_section .title sup
    {
        font-size: 16px;
        line-height: 30px;
    }


    .first_section .desc
    {
        font-size: 20px;

        margin-top: 36px;
    }


    .first_section .pluses
    {
        font-size: 20px;
    }

    .first_section .pluses > * + *
    {
        margin-top: 20px;
    }


    .first_section .image
    {
        width: calc(100% - 464px);
        margin-right: -40px;
    }



    /*-------------------
        First section 2
    -------------------*/
    .first_section_2
    {
        padding-top: 80px;
        padding-bottom: 52px;
    }


    .first_section_2 .data
    {
        width: 476px;
        margin-left: 0;
    }


    .first_section_2 .title
    {
        font-size: 34px;
        line-height: 44px;
    }

    .first_section_2 .title sup
    {
        font-size: 16px;
        line-height: 30px;
    }


    .first_section_2 .pluses
    {
        font-size: 20px;
    }

    .first_section_2 .pluses > * + *
    {
        margin-top: 20px;
    }

    .first_section_2 .pluses .icon
    {
        width: 24px;
        height: 24px;
    }

    .first_section_2 .pluses sup
    {
        font-size: 12px;
        line-height: 18px;
    }


    .first_section_2 .image
    {
        width: calc(100% - 476px);
        margin-right: -40px;
    }



    /*----------------
        About info
    ----------------*/
    .about_info
    {
        padding-bottom: 52px;
    }


    .about_info .block_title
    {
        font-size: 27px;
        line-height: 35px;

        width: 100%;
        margin-bottom: 48px;
    }


    .about_info .data
    {
        align-items: stretch;
        align-content: stretch;
    }


    .about_info .item
    {
        width: calc(50% - 16px);
        padding: 28px 36px;
    }

    .about_info .item:before,
    .about_info .item:after
    {
        left: 0;

        transform: none;
    }


    .about_info .item.pink
    {
        padding: 28px 36px;
    }

    .about_info .item.pink:before,
    .about_info .item.pink:after
    {
        left: 0;

        transform: none;
    }


    .about_info .item .title
    {
        font-size: 22px;
        line-height: 30px;
    }


    .about_info .item .items > *
    {
        font-size: 20px;
        line-height: 22px;
    }


    .about_info .image
    {
        display: none;
    }


    .about_info .profile
    {
        font-size: 28px;
        line-height: 40px;
    }



    /*------------------
        About info 2
    ------------------*/
    .about_info_2 .block_title
    {
        font-size: 27px;
        line-height: 35px;

        width: 100%;
        margin-bottom: 48px;
    }


    .about_info_2 .data
    {
        padding: 0;
    }


    .about_info_2 .item .title
    {
        font-size: 22px;
        line-height: 30px;
    }


    .about_info_2 .item .icon
    {
        top: -6px;

        width: 72px;
        height: 72px;
        padding: 15px;
    }

    .about_info_2 .item ~ .item .icon
    {
        left: -84px;
    }


    .about_info_2 .item .items > *
    {
        font-size: 20px;
        line-height: 22px;
    }


    .about_info_2 .image
    {
        width: 320px;
    }



    /*-------------------
        Effectiveness
    -------------------*/
    .effectiveness
    {
        padding-top: 52px;
        padding-bottom: 64px;
    }


    .effectiveness .block_title
    {
        font-size: 30px;
        line-height: 38px;

        width: 100%;
        margin-bottom: 36px;
    }


    .effectiveness .item
    {
        font-size: 20px;
        line-height: 24px;
    }



    /*---------------------
        Effectiveness 2
    ---------------------*/
    .effectiveness_2 .block_title
    {
        font-size: 30px;
        line-height: 38px;

        margin-bottom: 36px;
    }


    .effectiveness_2 .row
    {
        padding: 0;
    }


    .effectiveness_2 .item
    {
        font-size: 20px;
        line-height: 24px;
    }


    .effectiveness_2 .bottom
    {
        font-size: 16px;

        width: 968px;
        margin-top: 40px;

        border-radius: 11px;
    }

    .effectiveness_2 .bottom > div
    {
        padding: 16px 16px 16px 68px;
    }

    .effectiveness_2 .bottom .icon
    {
        left: 0;

        width: 58px;
        height: 58px;
    }

    .effectiveness_2 .bottom .name
    {
        font-size: 21px;
    }



    /*-----------------
        App. scheme
    -----------------*/
    .app_scheme
    {
        margin-bottom: 80px;
        padding-top: 64px;
    }


    .app_scheme .block_title
    {
        font-size: 30px;
        line-height: 38px;

        width: 100%;
        margin-bottom: 48px;
    }


    .app_scheme .tablet
    {
        font-size: 27px;

        width: 344px;
        height: 138px;
    }

    .app_scheme .tablet .amount
    {
        font-size: 120px;
    }

    .app_scheme .tablet:before
    {
        border-width: 11px;
    }


    .app_scheme .desc
    {
        font-size: 20px;
        line-height: 24px;

        width: 500px;
        margin-left: 48px;
    }



    /*------------------
        Add question
    ------------------*/
    .add_question.bg_white
    {
        padding: 60px 0;
    }


    .add_question .btn
    {
        font-size: 30px;
        line-height: 36px;
    }



    /*------------
        Footer
    ------------*/



    /*-----------
        PopUp
    -----------*/
}
